body {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #081c1c;
}

header {
    background-color: #081c1c;
    color: #0f5c45;
    padding: 15px 0;
    width: 100%;

    .header-del {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .logo-text {
        display: flex;
        align-items: center;
        gap: 15px;

        .logotyp-header{
        width: 100px;
        text-decoration: none;
        } 

        h1{
            font-size: 30px;
            color: #0f5c45;
        }
    }

    nav a{
        color: #0f5c45;
        text-decoration: none;
        
    }

    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    }

    







@media (min-width: 768px) {

    header {
        padding: 10px 12px;

        .header-del {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 70px;
        }

        .logo-text h1 {
            font-size: 60px;
        }

        nav ul{
            flex-direction: row;
            gap: 20px;
        }

    }

}