body {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #081c1c;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #081c1c;
    color: #0f5c45;
    padding: 15px 0;
    width: 100%;

    .header-del {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .logo-text {
        display: flex;
        align-items: center;
        gap: 15px;

        .logotyp-header{
        width: 100px;
        text-decoration: none;
        } 

        h1{
            font-size: 30px;
            color: #0f5c45;
        }
    }

    nav a{
        color: #0f5c45;
        text-decoration: none;
        
    }

    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    }

.hero {
    width: 100%;
    padding: 0 0 20px;
    


    img{
        width: 100%;
        height: auto;
        display: block;
    }

    h2{
        font-size: 19px;
        color: #F4F7F2;
        margin: 10 10px 20px;
        text-align: center;
    }
    
    p {
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        padding: 0 20px 10px;
    }

    .knapp {
        background-color:#FF6B35;
        color: #F4F7F2;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        padding: 12px 24px;
        display: block;
        width: fit-content;
        margin: 0 auto;
        
        


    }
}
    







@media (min-width: 768px) {

    header {
        padding: 10px 12px;
        

        .header-del {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 70px;
        }

        .logo-text h1 {
            font-size: 60px;
        }

        nav ul{
            flex-direction: row;
            gap: 20px;
        }

    }

    .hero {
        position: relative;
        padding-bottom: 0;
    
        img{
            width: 100%;
            height: auto;
            display: block;
        }
        h2{
            position: absolute;
            left: 8%;
            width: 40%;
            text-align: left;
            top: 30%;
            font-size: 32px;
            color: #F4F7F2;
            margin: 0;
        }
        p{
            position: absolute;
            left: 8%;
            width: 40%;
            text-align: left;
            top: 50%;
            font-size: 14px;
            padding: 0;
        }
        .knapp{
            position: absolute;
            left: 8%;
            top: 70%;
        
        }
    }
}